*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

h1{
    color: white;
    font-family: "Lekton", sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 50px;
}

header{
    text-align: center;
    margin-top: 136px;
}

main{
    text-align: center;
}

label{
    display: flex;
    color: white;
    font-family: "Cabin", sans-serif;
    font-size: 25px;
    padding-left: 10px;
    padding-top: 50px;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 50px;
}

input{
    border-radius: 10px;
    width: 344px;
    height: 59px;
    padding-left: 10px;
}

button{
    width: 162px;
    height: 52px;
    border-radius: 10px;
    font-size: 25px;
}